/* Reset y tipografía */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

/* Base para html y body */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  background-color: #4f1f1f;
  color: #fff;
}
#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1;
  overflow-y: auto;
}
/* Control de visibilidad de secciones */
.view {
  flex: 1;
  overflow-y: auto;
  display: none;
}
.view:not(.hidden) {
  display: block;
}
.view.hidden {
  display: none !important;
}

/* Mensajes de estado globales */
.error {
  color: #ffdddd;
  margin-top: 0.5rem;
}
.success {
  color: #ddffdd;
  margin-top: 0.5rem;
}
footer {
  flex-shrink: 0;
}
