/* Reset y tipografía */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

/* Base para html y body */
html,
body {
  background-color: #4f1f1f;
  color: #fff;
  height: 100%;
  font-family: 'IBM Plex Sans' sans-serif;
  text-transform: capitalize;
}

/* Control de visibilidad de secciones */
.view {
  display: none;
}
.view:not(.hidden) {
  display: block;
}
.view.hidden {
  display: none !important;
}

/* Mensajes de estado globales */
.error {
  color: #ffdddd;
  margin-top: 0.5rem;
}
.success {
  color: #ddffdd;
  margin-top: 0.5rem;
}
