<section id="upcoming-events-detail-view" class="view hidden">
  <header class="section-header">
    <div class="menu-toggle" id="menu-toggle">&#9776;</div>
    <h2>UPCOMING EVENTS list</h2>
    <button class="back-btn" onclick="showView('main-menu-view')">
      MyEtomic
    </button>
  </header>

  <!-- LUPA -->
  <div class="search-container">
    <input type="text" id="event-search" placeholder="Search Event..." />
  </div>

  <div class="events-list" id="upcoming-events-list"></div>
</section>
